<main id="home" class="home">
    <header class="home_header">
        <app-header/>
    </header>
    
    <div class="home_main">
        <div class="home_main_content">
            <div class="home_main_content_group">
                <h1 class="home_main_content_group_title">Olá, <br> Eu sou o <span class="home_main_content_group_title_span">Rafael Jardim!</span></h1>
                <p class="home_main_content_group_subtitle">Desenvolvedor Front-End e designer gráfico.</p>
            </div>
    
            <app-email-box/>
        </div>
    </div>
</main>