.home {
    height: calc(100vh - 16rem);
    display: flex;
    align-items: center;
    padding: 0 10rem;
    
    &_content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 2rem;
        
        &_group {

            &_title {
                color: var(--text);
                font-size: 6.4rem;
                margin-bottom: 1.2rem;

                &_span {
                    color: var(--primary);
                }
            }

            &_subtitle {
                font-size: 2.4rem;
                color: var(--text-secundary);
            }
        }
    }
}