.home {
    height: 100vh;
    background-color: var(--background);
    // background-image: url('/assets/background-img.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    // background-color: var(--background-secundary);
    background: linear-gradient(112.1deg, #1C1F22 30.4%, rgb(119, 74, 63) 90.2%);
    // @media screen and (min-width: 1800px) {
    //     background-position: 0 -24rem;
    // }

    &_main {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 10rem;
        height: 100%;

        &_content {
            // margin-top: 16rem;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 2rem;
            
            &_group {
    
                &_title {
                    color: var(--text);
                    font-size: 6.4rem;
                    margin-bottom: 1.2rem;
    
                    &_span {
                        color: var(--primary);
                    }
                }
    
                &_subtitle {
                    font-size: 2.4rem;
                    color: var(--text-secundary);
                }
            }
        }

        &_animation {
            // margin-bottom: 20rem;
            position: absolute;
            bottom: -.5rem;
            right: 10rem;
        }
    }
}