.home {
    height: 100vh;
    background-color: var(--background);
    // background-image: url('/assets/background-img.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    // background-color: var(--background-secundary);
    // background: linear-gradient(112.1deg, #1C1F22 30.4%, rgb(119, 74, 63) 90.2%);
    background: radial-gradient(circle at -8.9% 51.2%, #FF5A13 0%, rgb(20, 20, 20) 15.9%, rgb(34, 34, 34) 15.9%, rgb(25, 25, 25) 24.4%, rgb(19, 30, 37) 24.5%, rgb(19, 30, 37) 66%);
    

    &_main {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 16rem;
        height: 100%;

        &_content {
            // margin-top: 16rem;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 2rem;
            
            &_group {
    
                &_title {
                    color: var(--text);
                    font-size: 6.4rem;
                    margin-bottom: 1.2rem;
    
                    &_span {
                        color: var(--primary);
                    }
                }
    
                &_subtitle {
                    font-size: 2.4rem;
                    color: var(--text-secundary);
                }
            }
        }

        &_animation {
            // margin-bottom: 20rem;
            position: absolute;
            bottom: -.5rem;
            right: 10rem;
            transition: 1s ease;

            &:hover {
                scale: 1.1;
            }
        }
    }
}