<div id="projects" class="projects">
    <h2 class="projects__title">Projetos</h2>

    <ul class="projects__list">
        @for (project of projectsList; track $index) {
            <li class="projects__card" (click)="handleOpenDialog(project)">
                <div class="projects__content">
                    <img [src]="project.url_img" [alt]="'Imagem projeto' + project.name ">
                    <span class="projects__tech">{{project.technologies}}</span>
                    <h2 class="projects__name">{{project.name}}</h2>
                    <p class="projects__details">{{project.details}}</p>
                    <span class="projects__link">Ver projeto</span>
                </div>
            </li>
        }
    </ul>
</div>
