.projects {
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    @media (max-width: 720px) {
        height: 100%;
        margin: 6rem 0;
        gap: 0;
    }

    &__title {
        font-size: 6rem;

        @media (max-width: 500px) {
            font-size: 4rem;
        }
    }

    &__list {
        display: flex;
        justify-content: center;
        gap: 2rem;
        flex-wrap: wrap;
        margin-top: 5rem;

        @media (max-width: 500px) {
            justify-content: center;
            gap: 1.5rem;
        }

    }
    
    &__card {
        background-color: var(--background-secundary);
        padding: 2.4rem;
        border-radius: 1.2rem;
    }

    &__content {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        width: 32rem;
    }

    &__img-container {
        margin-bottom: 1.2rem;
        overflow: hidden;
        max-width: 32rem;

        img {
            width: 100%;
            transition: 1s ease;
    
            &:hover {
                scale: 1.08;
            }
        }
    }


    &__tech {
        font-size: 1.4rem;
        // color: var(--primary);
        color: #777;
        font-weight: 500;
    }

    &__name {
        font-size: 2.4rem;
        font-weight: 500;
    }

    &__details {
        margin: 2rem 0;
        line-height: 1.7;
        font-weight: 400;
        color: #EAEAEA;
        min-height: 16.4rem;
    }

    &__link {
        display: flex;
        align-items: center;
        font-weight: 500;
        gap: 1.7rem;
        transition: .4s ease;
        cursor: pointer;

        &:hover {
            gap: 1.2rem;
            color: #bbaaa6;
        }
    }

    &__link-icon {
        font-size: 2.2rem;
        color: var(--primary);
    }
}