.home {
    height: calc(100vh - 16rem);
    display: flex;
    justify-content: center;
    align-items: center;
    
    &_content {
        display: flex;
        align-items: end;
        
        &_intro {
            color: var(--text);
            font-size: 10rem;
            max-width: 120rem;
        }
    }
}