<section id="about" class="about">
    <div class="about_container">
        <div class="about_container_perfil">
            <img class="about_container_perfil_img"
                ngSrc="assets/perfil.png"
                width="400"
                height="400"
                alt="Foto de perfil"/>
        </div>
       
        <div class="about_container_content">
            <h1 class="about_container_content_title">Sobre mim</h1>
            <P class="about_container_content_txt">Desenvolvedor Angular | Especialista em Front-end | Apaixonado por Tecnologia!
                <br>
                <br>
                Sou um entusiasta da tecnologia com uma paixão especial pelo desenvolvimento web, concentrando meu foco e energia na criação de interfaces de usuário dinâmicas, intuitivas e responsivas.
                <br>
                <br>
                Com uma experiência sólida em desenvolvimento front-end, especialmente utilizando o framework Angular, estou constantemente explorando novas técnicas e tendências para aprimorar minhas habilidades e oferecer soluções inovadoras aos problemas diários e visando novos desafios profissionais com objetivo na geração de resultados.
                <br>
                <br>
                Tenho facilidade para trabalhar em grupo, agilidade para aprender uma novas habilidades e tecnologias e grande adaptabilidade às mudanças, estando sempre pronto para superar novos desafios!
                
                </P>
        </div>
    </div>
</section>
