.about {
    height: 100vh;
    padding: 0 10rem;

    &_container {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        &_perfil {
            width: 40rem;
            height: 40rem;
            border-radius: 50rem;
            overflow: hidden;

            &_img {
                transition: 1s ease;
    
                &:hover {
                    scale: 1.1;
                }
            }
        }


        &_content {
            max-width: 57rem;

            &_title {
                font-size: 6rem;
            }

            &_txt {
                margin-top: 2rem;
                font-size: 1.6rem;
                font-family: var(--font-secundary);
                line-height: 2.4rem;
                color: var(--text-secundary);
            }
        }
    }
}