.email_box {
    display: flex;
    align-items: center;
    gap: 1rem;
    border: .1rem solid #444;
    cursor: pointer;
    padding: 2rem;
    position: relative;

    width: 27.5rem;
    transition: 1s;

    color: var(--text-secundary);
    background-color: #2222224f;

    &:hover {
        background-color: #bb553c;
    }

    &_icon {
        border-right: .1rem solid #444;
        padding-right: 2rem;
    }

    &_txt {
        position: relative;
        height: 2rem;
        width: 100%;
        
        &_copy, &_email {
            position: absolute;
            position: absolute;
            opacity: 1;
            transition: .4s;
                                  
            &.disabled {
                opacity: 0;
            }
        }
    }
}